@{
    Layout = "~/Views/Shared/_NavPub.cshtml";

}
<div class=" ">
    <div class="hrm-breadcrums">
        <div id="crumbs"> <a href="/">Trang chủ</a> <i class="fa fa-angle-double-right"></i> <span class="current">Reset Password</span></div>
    </div>
    <div class="row">

        <div class="login register">
            <div class="login-title">
                <h3>
                </h3>
                <div class="login-other">
                    <span>Đã là thành viên? <a href="/login/index">Đăng nhập</a> tại đây</span>
                </div>
            </div>
            <div>
                <form method="post" id="ResetPW">

                    <div class="  clearfix">
                        <div class="mod-login-reset clearfix">
                            <p>Nhập địa chỉ email của bạn, chúng tôi sẽ gửi mật khẩu mới vào email.</p>
                            <div class="mod-input mod-login-input-email mod-input-id">
                                <label for="user_login"> Tài khoản:</label>
                                <input type="text" required name="UserName" id="UserName" value="">
                                <label for="user_login"> E-mail:</label>
                                <input type="email" required name="Email" id="Email" value="">

                            </div>
                            <div class="mod-login-btn">
                                 <input type="submit" value="Nhận mật khẩu mới" class="button" id="submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .paper {
            background-color: #eff0f5;
        }
    </style>
</div><!-- .row -->


<script>
    $("#ResetPW").submit(function (e) {

        e.preventDefault();
            var form = document.forms.namedItem("ResetPW");
        var data = new FormData(form);
        $.ajax({
            type: "POST",
            url: "/login/resetpassword",
            data: {
                UserName: $('#UserName').val(),
                Email: $('#Email').val(),

            },
            dataType: "json",
            success: function (response) {
                $("#ResetPW").html('<h2>Đã gửi mật khẩu qua Email.</h2>');
            }
        });

    });
</script>