
<div class="dx-viewport">
    <div class="demo-container">
        <div class="d-flex align-items-start justify-content-between">
             <h2>
                Setting data
            </h2>
        </div>
        <div id="DataGrid"></div>
        <div id="panelLoader"></div>

        <div style="height:0px;overflow:hidden">
            <input class="form-control" type="file" id="UploadFile_Staff" name="fileInput" onchange="return Onchange_ImportExcel_Staff()">
        </div>
    </div>
</div>

<script src="~/Scripts/Setting.js"></script>
 