
<div class="dx-viewport">
    <div class="demo-container">
        <div class="d-flex align-items-start justify-content-between">
            <h2>
                Phân quyền
            </h2>
        </div>
        <div id="DataGrid"></div>
        <div id="panelLoader"></div>

        <div style="height:0px;overflow:hidden">
            <input class="form-control" type="file" id="UploadFile_Staff" name="fileInput" onchange="return Onchange_ImportExcel_Staff()">
        </div>
    </div>
</div>


<script>
    function getFormattedDate(date) {
        let year = date.getFullYear();
        let month = (1 + date.getMonth()).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');

        return day + '/' + month + '/' + year;
    }

    function FromJsonToDate(value) {
        if (value != null) {
            return new Date(parseInt(value.replace('/Date(', '')));
        }
        return;
    }
    var dlx = [];
    $.ajax({
        type: "POST",
        url: "/User_Category/GetUserName",
        dataType: "json",
        async: false,
        success: function (response) {
            dlx = response;
            console.log(dlx);
        }
    });
    var dlxCategory = [];
    $.ajax({
        type: "POST",
        url: "/User_Category/GeCategory",
        dataType: "json",
        async: false,
        success: function (response) {
            dlxCategory = response;
         }
    });

    var DataGrid = $("#DataGrid").dxDataGrid({
        dataSource: [],
        showRowLines: true,
        showBorders: true,
        autoExpandAll: true,
        paging: {
            enabled: true,
            pageSize: 100
        },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        columnChooser: {
            enabled: true
        },
        scrolling: {
            scrollByContent: true
        },
        pager: {
            showPageSizeSelector: true,
            allowedPageSizes: [100, 200, 500, 1000],
            showNavigationButtons: true
        },
        allowColumnResizing: true,
        columnFixing: {
            enabled: true
        },
        hoverStateEnabled: true,
        headerFilter: {
            visible: true
        },
        wordWrapEnabled: true,
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Search..."
        },

        columnsAutoWidth: true,
        allowColumnReordering: true,
        rowAlternationEnabled: true,
        "export": {
            enabled: true,
            fileName: "DataList",
            allowExportSelectedData: true
        },
        editing: {
            mode: "popup",
            allowUpdating: true,
            allowDeleting: true,
            allowAdding: true,
            useIcons: true
        },
        filterPanel: { visible: true },
        summary: {
            totalItems: [{
                column: "KeyID",
                summaryType: "count"
            }]
        },
        columnMinWidth: 200,
        columns:
            [

                {
                    dataField: "UserName",
                    caption: "UserName",
                    editorOptions: {
                        showClearButton: true
                    },
                    width: 250,
                    allowEditing: true
                    , lookup: {
                        dataSource: function (rowData) {


                            var dataSourceConfiguration = {
                                store: dlx
                            };

                            return dataSourceConfiguration;
 
                        },

                        valueExpr: "UserName",
                        displayExpr: "UserName",
                        searchMode: 'startswith'
                    },

                },
                {
                    dataField: "CategoryRowID",
                    caption: "CategoryRowID",
                    editorOptions: {
                        showClearButton: true
                    },
                    width: 250,
                    allowEditing: true
                    , lookup: {
                        dataSource: function (rowData) {


                            var dataSourceConfiguration = {
                                store: dlxCategory
                            };

                            return dataSourceConfiguration;
 
                        },

                        valueExpr: "CategoryRowID",
                        displayExpr: "CategoryName",
                        searchMode: 'startswith'
                    },

                } ,
                {
                    dataField: "NgayHetHan",
                    caption: "Ngày hết hạn",
                    editorOptions: {
                        showClearButton: true
                    },
                    dataType: "date",
                    format: "dd/MM/yyyy"


                }

            ],

        //insert
        onRowInserting: function (e) {
            var obj = e.data;

            $.ajax({
                url: '/User_Category/AddNew',
                type: 'POST',
                dataType: 'json',
                async: false,
                data: { obj },
                success: function (data) {
                    if (data.result == true) {
                        DevExpress.ui.notify("This record was added successfully!", "success");
                        e.data.ID = data.obj.ID;
                        LoadData_Data();
                    }
                    else {
                        DevExpress.ui.notify("This record can't be add!", "error");
                        e.cancel = true;
                    }
                },
                error: function (err) {
                    DevExpress.ui.notify("This record can't be add!", "error");
                    e.cancel = true;
                }
            });
        },


        //update
        onRowUpdating: function (e) {

            e.newData.ID = e.oldData.ID;

            $.ajax({
                url: '/User_Category/Update_StaffOn',
                type: 'POST',
                dataType: 'json',
                async: false,
                data: e.newData,
                success: function (data) {
                    if (data.result == true) {
                        DevExpress.ui.notify("Dữ liệu này đã được chỉnh sửa thành công!", "success");
                    }
                    else {
                        DevExpress.ui.notify("Dữ liệu này không thể được cập nhật!", "error");
                    }
                },
                error: function (err) {
                    DevExpress.ui.notify("Dữ liệu này không thể được cập nhật!", "error");
                }
            });
        },
        //delete
        onRowRemoving: function (e) {
            var id = e.data.ID;
            $.ajax({
                url: '/User_Category/Delete',
                type: 'POST',
                dataType: 'json',
                data: { id: id },
                success: function (data) {
                    if (data == true) {
                        DevExpress.ui.notify("This record was deleted successfully!", "success");
                    }
                    else
                        if (data == false) {
                            DevExpress.ui.notify("This record can't be delete!", "error");
                            e.cancel = true;
                        }
                },
                error: function (err) {
                    DevExpress.ui.notify("This record can't be delete!", "error");
                    e.cancel = true;
                }
            });

        },

        onCellPrepared: function onCellPrepared(e) {
            if (e.rowType == "header") {
                e.cellElement.css("text-align", "left");
                e.cellElement.addClass('headerTree');
                e.cellElement.css("vertical-align", "middle");
            }

            if (e.rowType == "data") {
                e.cellElement.css("text-align", "left");


                e.cellElement.css("vertical-align", "middle");
            }
        },
    });

    $(function () {
        LoadData_Data();
    });

    function LoadData_Data() {
        $("#loadPanel").dxLoadPanel({
            closeOnOutsideClick: false,
            message: "Xin chờ ...",
            visible: true,
            position: {
                of: "#DataGrid",
                at: "center",
                my: "center"
            },
            shading: true
        });

        $.ajax({
            url: '/User_Category/GetData_Data',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                 $.each(data, function (i, item) {
                           item.NgayHetHan = FromJsonToDate(item.NgayHetHan);

                        });
                var datagrid = $("#DataGrid").dxDataGrid("instance");
                datagrid.option("dataSource", data);
                datagrid.columnOption('ParentID', 'lookup.dataSource', data);

                $("#loadPanel").dxLoadPanel({
                    closeOnOutsideClick: false,
                    message: "Xin ch? ...",
                    visible: false,
                    position: {
                        of: "#DataGrid",
                        at: "center",
                        my: "center"
                    },
                    shading: true
                });

            },
            error: function (err) {
            }
        });
    }



</script>