@{ 
        Layout = "~/Views/Shared/_NavPub.cshtml";

}
<style>
    .entry-content ul li, .entry-content ol li {
    list-style-type: none;
}
</style>
<main id="main" class="site-main" role="main">


    <article id="post-8" class="post-8 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="entry-title">Liên hệ</h1>
        </header><!-- .entry-header -->

        <div class="entry-content">
            <ul class="widget-menu contact-info-page">

                <li><i class="fa fa-map-marker" aria-hidden="true"></i> @Planner2.Common.SettingData.DiaChiCongCty</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:@Planner2.Common.SettingData.HotLine"> @Planner2.Common.SettingData.HotLine</a></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:>@Planner2.Common.SettingData.EmailCongTy">@Planner2.Common.SettingData.EmailCongTy</a></li>

            </ul>
            <br />  <div class="col-xs-12 col-md-12">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.8705664926088!2d105.79575471440681!3d20.99782489421065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbba6cc5077%3A0xcbc73a6590629829!2zdOG6p25nIDcgc-G7kSBuaMOgLCAyNSBOZ8O1IDI5IEtodeG6pXQgRHV5IFRp4bq_biwgVGhhbmggWHXDom4gQuG6r2MsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1566787966726!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-xs-12 col-md-12">
                <div id="nf-form-1-cont" class="nf-form-cont" aria-live="polite" aria-labelledby="nf-form-title-1" aria-describedby="nf-form-errors-1" role="form">
                    <div class="nf-form-layout">
                        <form>
                            <div class="nf-before-form-content">
                                <nf-section>
                                    <div class="nf-form-fields-required">Các trường được đánh dấu <span class="ninja-forms-req-symbol">*</span> là bắt buộc</div>

                                </nf-section>
                            </div>
                            <div class="nf-form-content ">
                                <nf-fields-wrap>
                                    <nf-field>
                                        <div id="nf-field-1-container" class="nf-field-container textbox-container  label-hidden ">
                                            <div class="nf-before-field">
                                                <nf-section>

                                                </nf-section>
                                            </div>
                                            <div class="nf-field">
                                                <div id="nf-field-1-wrap" class="field-wrap textbox-wrap nf-fail nf-error" data-field-id="1">



                                                    <div class="nf-field-label"><label for="nf-field-1" id="nf-label-field-1" class="">Họ tên <span class="ninja-forms-req-symbol">*</span> </label></div>


                                                    <div class="nf-field-element">
                                                        <input type="text" value="" class="ninja-forms-field nf-element" placeholder="Họ Tên" id="nf-field-1" name="nf-field-1" aria-invalid="true" aria-describedby="nf-error-1" aria-labelledby="nf-label-field-1" required="">
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="nf-after-field">
                                                <nf-section>

                                                    <div class="nf-input-limit"></div>

                                                    <div id="nf-error-1" class="nf-error-wrap nf-error" role="alert"><div class="nf-error-msg nf-error-required-error">Đây là một trường bắt buộc.</div></div>


                                                </nf-section>
                                            </div>
                                        </div>
                                    </nf-field><nf-field>
                                        <div id="nf-field-39-container" class="nf-field-container phone-container  label-hidden  textbox-container">
                                            <div class="nf-before-field">
                                                <nf-section>

                                                </nf-section>
                                            </div>
                                            <div class="nf-field">
                                                <div id="nf-field-39-wrap" class="field-wrap phone-wrap textbox-wrap" data-field-id="39">



                                                    <div class="nf-field-label"><label for="nf-field-39" id="nf-label-field-39" class="">điện thoại  </label></div>


                                                    <div class="nf-field-element">
                                                        <input type="tel" value="" class="ninja-forms-field nf-element" id="nf-field-39" name="phone" autocomplete="tel" placeholder="Số điện thoại" aria-invalid="false" aria-describedby="nf-error-39" aria-labelledby="nf-label-field-39">
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="nf-after-field">
                                                <nf-section>

                                                    <div class="nf-input-limit"></div>

                                                    <div id="nf-error-39" class="nf-error-wrap nf-error" role="alert"></div>


                                                </nf-section>
                                            </div>
                                        </div>
                                    </nf-field><nf-field>
                                        <div id="nf-field-2-container" class="nf-field-container email-container  label-hidden ">
                                            <div class="nf-before-field">
                                                <nf-section>

                                                </nf-section>
                                            </div>
                                            <div class="nf-field">
                                                <div id="nf-field-2-wrap" class="field-wrap email-wrap" data-field-id="2">



                                                    <div class="nf-field-label"><label for="nf-field-2" id="nf-label-field-2" class="">Email <span class="ninja-forms-req-symbol">*</span> </label></div>


                                                    <div class="nf-field-element">
                                                        <input type="email" value="" class="ninja-forms-field nf-element" id="nf-field-2" name="email" autocomplete="email" placeholder="Email" aria-invalid="false" aria-describedby="nf-error-2" aria-labelledby="nf-label-field-2" required="">
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="nf-after-field">
                                                <nf-section>

                                                    <div class="nf-input-limit"></div>

                                                    <div id="nf-error-2" class="nf-error-wrap nf-error" role="alert"></div>


                                                </nf-section>
                                            </div>
                                        </div>
                                    </nf-field><nf-field>
                                        <div id="nf-field-40-container" class="nf-field-container textbox-container  label-hidden ">
                                            <div class="nf-before-field">
                                                <nf-section>

                                                </nf-section>
                                            </div>
                                            <div class="nf-field">
                                                <div id="nf-field-40-wrap" class="field-wrap textbox-wrap" data-field-id="40">



                                                    <div class="nf-field-label"><label for="nf-field-40" id="nf-label-field-40" class="">Tiêu đề  </label></div>


                                                    <div class="nf-field-element">
                                                        <input type="text" value="" class="ninja-forms-field nf-element" placeholder="Tiêu đề" id="nf-field-40" name="nf-field-40" aria-invalid="false" aria-describedby="nf-error-40" aria-labelledby="nf-label-field-40">
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="nf-after-field">
                                                <nf-section>

                                                    <div class="nf-input-limit"></div>

                                                    <div id="nf-error-40" class="nf-error-wrap nf-error" role="alert"></div>


                                                </nf-section>
                                            </div>
                                        </div>
                                    </nf-field><nf-field>
                                        <div id="nf-field-3-container" class="nf-field-container textarea-container  label-hidden ">
                                            <div class="nf-before-field">
                                                <nf-section>

                                                </nf-section>
                                            </div>
                                            <div class="nf-field">
                                                <div id="nf-field-3-wrap" class="field-wrap textarea-wrap" data-field-id="3">



                                                    <div class="nf-field-label"><label for="nf-field-3" id="nf-label-field-3" class="">Nội dung <span class="ninja-forms-req-symbol">*</span> </label></div>


                                                    <div class="nf-field-element">
                                                        <textarea id="nf-field-3" name="nf-field-3" aria-invalid="false" aria-describedby="nf-error-3" class="ninja-forms-field nf-element" placeholder="Nội dung" aria-labelledby="nf-label-field-3" required=""></textarea>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="nf-after-field">
                                                <nf-section>

                                                    <div class="nf-input-limit"></div>

                                                    <div id="nf-error-3" class="nf-error-wrap nf-error" role="alert"></div>


                                                </nf-section>
                                            </div>
                                        </div>
                                    </nf-field><nf-field>
                                        <div id="nf-field-4-container" class="nf-field-container submit-container  label-above  textbox-container">
                                            <div class="nf-before-field">
                                                <nf-section>

                                                </nf-section>
                                            </div>
                                            <div class="nf-field">
                                                <div id="nf-field-4-wrap" class="field-wrap submit-wrap textbox-wrap" data-field-id="4">
                                                    <div class="nf-field-label"></div>
                                                    <div class="nf-field-element">
                                                        <input id="nf-field-4" class="ninja-forms-field nf-element " type="button" value="Gửi" disabled="">
                                                    </div>
                                                    <div class="nf-error-wrap"></div>
                                                </div>
                                            </div>
                                            <div class="nf-after-field">

                                                <div class="nf-input-limit"></div>

                                                <div id="nf-error-4" class="nf-error-wrap nf-error" role="alert"></div>


                                            </div>
                                        </div>
                                    </nf-field>
                                </nf-fields-wrap>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div><!-- .entry-content -->

        <footer class="entry-footer">
        </footer><!-- .entry-footer -->
    </article><!-- #post-## -->

</main><!-- #main -->